@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
  font-family: 'Lato', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  transition: all .2s ease;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}
